

.contenedor{
    width: 1010px;
    height: 430px;
    background: #ffffffd0;
    margin: 40px;  
    position: relative;
    top: -10.9px;
    right: center;
    left: center;
    bottom: 0;   
    overflow: auto;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.51);
}




 



